<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boanwl.manager.dao.AdminMapper" >

  <select id="countAdmin" resultType="_long">
    select count(1) from tb_admin a where a.status!=3
  </select>
  <select id="listAdmins" parameterType="com.boanwl.manager.pojo.dto.PageParam" resultType="com.boanwl.manager.pojo.po.TbAdmin">
    select
    id, adminname,pwd realname,sex ,remark, a.status,role,tel, birthday,idcard
    from tb_admin a
    where a.status!=3
    limit #{offset},#{limit}
  </select>
  <select id="countPageAdmin" parameterType="java.lang.String" resultType="_long">
    select count(1) from tb_admin where a.status!=3 and  adminname like "%"#{adminname}"%"
  </select>
  <select id="listPageAdmins"  resultType="com.boanwl.manager.pojo.po.TbAdmin">
    select
    id, adminname,pwd realname,sex ,remark, a.status,role,tel, birthday,idcard
    from tb_admin a
    where adminname like '%${searchName}%' and a.status!=3
    limit #{param.offset},#{param.limit}
  </select>

</mapper>