<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boanwl.manager.dao.TbMsgCustomMapper">


    <!--sql片段-->
    <sql id="Base_Column_List" >
        i.order_no AS orderNo, i.uid, i.theme, i.uname, i.utel, i.address, i.request_msg as requestMsg, status
    </sql>

    <sql id="where_Column">
        <where>
            i.status !=0
            <if test="tbQueryDTO!=null and tbQueryDTO.title!=null and tbQueryDTO.title!=''">
                and i.order_no like '%${tbQueryDTO.title}%'
            </if>
        </where>
    </sql>

    <!--查询总个数-->
    <select id="getCounts" parameterType="com.boanwl.manager.pojo.dto.TbQueryDTO" resultType="_long">
        select count(1)
        from tb_msg i
        <include refid="where_Column"/>
    </select>


    <!--查询data-->
    <select id="getTbMsg" resultType="com.boanwl.manager.pojo.vo.TbMsgCustom">
        select
        <include refid="Base_Column_List"/>
        from tb_msg i
        <include refid="where_Column"/>
       limit #{pageParam.offset},#{pageParam.limit}
    </select>
</mapper>